<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单管理</title>

    <!--    我自己的-->
    <link href="../../static/css/adminIndex.css" th:href="@{../css/adminIndex.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../static/css/productLst.css" th:href="@{../css/productLst.css}" />
    <script src="../../static/js/oderLst.js" th:src="@{../js/oderLst.js}" type="text/javascript"></script>

    <!--    jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--    侧边栏-->
    <style type="text/css">
        *{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
        body{background:#f0f0f0;margin: 0px;}
        .filterinput{
            background-color:rgba(249, 244, 244, 0);
            border-radius:15px;
            width:90%;
            height:30px;
            border:thin solid #FFF;
            text-indent:0.5em;
            font-weight:bold;
            color:#FFF;
        }
        #demo-list a{
            overflow:hidden;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            white-space:nowrap;]
        width:100%;
        }
    </style>
    <script src="../../static/js/jquery-1.11.2.min.js" th:src="@{../js/jquery-1.11.2.min.js}" type="text/javascript"></script>
    <script src="../../static/js/jquery-accordion-menu.js" th:src="@{../js/jquery-accordion-menu.js}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            //顶部导航切换
            $("#demo-list li").click(function(){
                $("#demo-list li.active").removeClass("active")
                $(this).addClass("active");
            })
        })
    </script>

    <!--    bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--    Time picker-->
    <script src="../../static/laydate/laydate.js" th:src="@{../laydate/laydate.js}" type="text/javascript"></script>

<!--    tablesorter-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/js/jquery.tablesorter.min.js"></script>

</head>
<body>

<div id="jquery-accordion-menu" class="jquery-accordion-menu red">

    <div class="toutou">
        <img src="../picture/img_0016.png">
        <p>[[${username}]]</p>
        <div class="toutoubuttons" style="padding-left: 6px">
            <button><a href="#">修改资料</a></button>
        </div>
        <div class="toutoubuttons" style="padding-right: 6px">
            <form action="#" th:action="@{/logout}" method="post">
                <button><a style="color: white">登出账号</a></button>
            </form>
        </div>
    </div>

    <ul id="demo-list">

        <li><a href="#"  th:href="@{/admin}"> 首页 </a></li>
        <li><a th:href="@{/admin/revealAllGroup}">开团管理 </a></li>
        <li><a th:href="@{/admin/revealAllProduct}">商品管理 </a></li>
        <li class="active"><a th:href="@{/admin/revealAllOrder}" href="#">订单管理 </a></li>
        <li><a th:href="@{/admin/revealAllUser}">用户管理 </a>
            <!--<ul class="submenu">-->
            <!--<li><a href="#">Web Design </a></li>-->
            <!--<li><a href="#">Hosting </a></li>-->
            <!--<li><a href="#">Consulting </a></li>-->
            <!--</ul>-->
        </li>
        <li><a href="#">系统管理 </a></li>
        <li><a href="#">Contact </a></li>

    </ul>
</div>

<div style="padding-left: 200px">
    <div class="container" style="height:100%; padding: 50px">

        <div id="insertOrder" class="modal" style="display: none">

            <form class="modal-content animate" id="orderInfo" onsubmit="return false">

                <span onclick="document.getElementById('insertOrder').style.display='none'" class="close" title="Close Modal"
                      style="margin: 26px; font-size: 40px">&times;</span>

                <input name="id" id="id" hidden>

                <div class="container">

                    <table align="center">
                        <tr>
                            <td class="usrTitle" id="formTitle">新增订单</td>
                        </tr>
                        <tr>
                            <td style="font-size: 18px; font-weight: bold; color: #886d6d; padding-bottom: 6px; text-align: center;">
                                <div class="dropdown">
                                    团号：<input name="groupid" id="groupid" class="dropdown-toggle" data-toggle="dropdown" readonly
                                               style="color: #886d6d; border: #3b424d solid 1px; border-radius: 3px; padding-left: 6px">
                                    <div class="dropdown-menu">
                                        <a th:each="g:${gLst}" class="dropdown-item" th:onclick="addNameValue([[${g.id}]])">[[${g.id}]]</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table align="center" style="width: 80%;">
                        <tr>
                            <td class="valueTitle" style="width: 111px">产品：</td>
                            <td>
                                <input name="product" id="name" class="usrValue dropdown-toggle" data-toggle="dropdown" readonly>
                                <div class="dropdown-menu" id="oProductLst">
                                    <a th:each="p:${pLst}" th:title="${p.group.id}" hidden class="dropdown-item"
                                        th:onclick="addPriceValue([[${p.id}]],[[${p.pname}]],[[${p.price}]])">[[${p.id}]] - [[${p.pname}]]</a>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table align="center" style="width: 80%;">
                        <tr>
                            <td class="valueTitle" style="width: 111px">数量：</td>
                            <td><input name="ocount" id="ocount" class="usrValue" readonly onchange="changePriceValue(this.value)"></td>
                            <td class="valueTitle" style="width: 111px">价格：</td>
                            <td><input name="price" id="price" class="usrValue" readonly></td>
                        </tr>
                        <tr>
                            <td class="valueTitle" style="width: 111px">状态：</td>
                            <td>
                                <div class="dropdown">
                                    <input name="state" id="state" class="dropdown-toggle usrValue" data-toggle="dropdown" readonly>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:each="s:${sLst}" th:onclick="addStateValue([[${sStat.index}]])">
                                            [[${sStat.index}]] - [[${s.value}]]</a>
                                    </div>
                                </div>
                            </td>
                            <td class="valueTitle" style="width: 111px">下单QQ：</td>
                            <td><input name="user" id="user" class="usrValue"></td>
                        </tr>
                    </table>

                    <table align="center" style="width: 80%;">
                        <tr>
                            <td class="valueTitle" style="width: 111px">备注：</td>
                            <td><textarea name="description" id="description" style="height: 140px; margin: 19px 0 19px 0" class="usrValue"></textarea></td>
                        </tr>
                    </table>

                    <table align="center">
                        <tr>
                            <td class="usrRow">
                                <table align="center">
                                    <td style="padding-right: 6px"><button  id="rollback" class="btn btn-secondary" style="font-size: 14px" onclick="rollBack()">复原资料</button></td>
                                    <td style="padding-left: 6px"><button id="insertConfirm" class="btn btn-info" style="font-size: 14px" onclick="return addOrder()">确认新增</button></td>
                                    <td style="padding-left: 6px"><button id="modifyConfirm" class="btn btn-info" style="font-size: 14px" onclick="return modifyOrder()">确认修改</button></td>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <p align="center" style="font-size: 13px; color: #f44336">**资料有变动时请及时更新</p>
                            </td>
                        </tr>
                    </table>

                </div>
            </form>
        </div>

        <table style="width: 100%">
            <td><a style="padding: 50px; font-size: 26px; font-weight: bold; white-space:nowrap" >订单管理</a></td>
            <td style="width: 100%">
                <div class="btn-group mr2" style="float: right; position: relative; top:80px">
                    <button class="btn btn-sm btn-outline-secondary" onclick="insertO()">新增产品</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="deleteGroup()">批量删除</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="showExport()">导出表单</button>
                </div>
            </td>
        </table>

        <table>
            <td>搜寻：<input id="searchBar" class="usrValue" onkeyup="onSearch(this)" style="width: 200px; margin-top: 46px"></td>
            <td><button style="margin: 46px 0 0 6px;font-size: 12px;" class="btn btn-sm btn-outline-secondary"
                onclick="document.getElementById('searchBar').value=null;onSearch(document.getElementById('searchBar'))">清空</button></td>
        </table>

        <table id="orderTable" class="tablesorter table" style="margin-top: 10px; min-width: 930px;">
            <thead>
                <tr>
                    <th><input type="checkbox" onchange="checkedAll(this)">&nbsp;&nbsp;全选</th>
                    <th>订单号</th>
                    <th>团号</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>价格</th>
                    <th>状态</th>
                    <th>QQ昵称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tr th:each="o:${oLst}">
                <td><input type="checkbox" name="oItem" th:id="${o.id}"></td>
                <td><p th:text="${o.id}"></p></td>
                <td><p th:text="${o.product.id}"></p></td>
                <td><p th:text="${o.product.pname}"></p></td>
                <td><p th:text="${o.ocount}"></p></td>
                <td><p th:text="'￥'+${o.price}"></p></td>
                <td><p th:text="${o.state.value}"></p></td>
                <td><p th:text="${o.user.name}"></p></td>
                <td>
                    <button class="btn btn-info" style="font-size: 12px;" th:onclick="modifyO([[${o.product.group.id}]], [[${o.product.id}]], [[${o.product.pname}]], [[${o.price}]], [[${o.ocount}]], [[${o.state.id}]], [[${o.user.username}]])">修改</button>
                    <button class="btn btn-danger" style="font-size: 12px; background-color: #d16262;" th:onclick="deleteOrder([[${o.id}]])">删除</button>
                </td>
            </tr>

        </table>

        <!--<div style="height: 2000px">-->

        <!--</div>-->

        <div align="center">
            <p th:if="!${#arrays.isEmpty(oLst)}" style="padding: 10px; font-size: 16px; color: #888888; min-width: 930px">没有更多了</p>
        </div>

        <div align="center">
            <p th:if="${#arrays.isEmpty(oLst)}" style="padding: 10px; font-size: 18px; color: #888888; min-width: 930px">这里没有东西</p>
        </div>

    </div>
</div>

<script>
    $(function() {
        $("#orderTable").tablesorter();
    });
</script>

</body>

</html>
