<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/register.css" th:href="@{../css/register.css}" />

    <!--    选择城市-->
    <script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{../js/jquery.min.js}"></script>
    <script type="text/javascript" src="../../static/js/citydata.js" th:src="@{../js/citydata.js}"></script>
    <script type="text/javascript" src="../../static/js/cityPicker-1.0.0.js" th:src="@{../js/cityPicker-1.0.0.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/city-picker.css" th:href="@{../css/city-picker.css}">

</head>
<body>

<h2 style="position: center">Modal Login Form</h2>

<!--<p id="user" hidden="true"> woshiyonghum </p>-->
<!--<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>-->

<div id="id01" class="modal" style="display: block">

    <form class="modal-content animate" id="signIn" th:action="@{/register}" method="post" >
        <div class="imgcontainer">
            <!--      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->
            <img src="../picture/img_0016.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <table th:if="${registerError}" >
                <td>
                    <p id="errorMsg" style="color:red;padding: 10px 0 10px 0" class="error">该QQ号已注册过，请登录</p>
                </td>
                <td>
                    <a th:href="@{/login}">立即登录</a>
                </td>
            </table>
            <label for="username"><table><td><b>QQ</b></td>
                <td><p id="emptyqq" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入QQ！</p></td></table></label>
            <input type="text" id="username" placeholder="请输入QQ" name="username" autofocus="autofocus">

            <label for="email"><table><td><b>邮箱</b></td>
                <td><p id="emptyemail" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入邮箱！</p></td></table></label>
            <input type="text" id="email" placeholder="请输入邮箱" name="email">

            <label for="name"><table><td><b>群昵称</b></td>
                <td><p id="emptyname" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入昵称！</p></td></table></label>
            <input type="text" id="name" placeholder="请输入昵称" name="uname">

            <label for="phone"><table><td><b>收件人姓名</b></td>
                <td><p id="emptyreceiver" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入收件人姓名！</p></td></table></label>
            <input type="text" id="receiver" placeholder="请输入收件人姓名" name="receiver">

            <label for="phone"><table><td><b>手机号码</b></td>
                <td><p id="emptyphone" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入手机号码！</p></td></table></label>
            <input type="text" id="phone" placeholder="请输入手机号码" name="phone">

            <label for="phone"><table><td><b>地址</b></td>
                <td><p id="empty" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入地址！</p></td></table></label>
            <table align="center" style="margin: 16px 0 16px 0">
                <td>
                    <div class="city-picker-selector" id="city-picker-search">
                        <div class="selector-item storey province">
                            <input name="province" href="javascript:;" class="selector-name reveal df-color ">请选择省份</input>
                            <input type="hidden" name="province" class="input-price val-error" value="" data-required="province">
                            <div class="selector-list listing hide">
                                <div class="selector-search">
                                    <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                </div>
                                <ul></ul>
                            </div>
                        </div>
                        <div class="selector-item storey city">
                            <input name="city"  href="javascript:;" class="selector-name reveal df-color forbid">请选择城市</input>
                            <input type="hidden" name="city" class="input-price val-error" value="" data-required="city">
                            <div class="selector-list listing hide">
                                <div class="selector-search">
                                    <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                </div>
                                <ul></ul>
                            </div>
                        </div>
                        <div class="selector-item storey district">
                            <input name="district"  href="javascript:;" class="selector-name reveal df-color forbid">请选择地区</input>
                            <input type="hidden" name="district" class="input-price val-error" value="" data-required="district">
                            <div class="selector-list listing hide">
                                <div class="selector-search">
                                    <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                </div>
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </td>
            </table>

            <label for="address"><table><td><b>详细地址</b></td>
                <td><p id="emptyaddress" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入地址！</p></td></table></label>
            <input type="text" id="address" placeholder="请输入地址" name="address">

            <label for="password"><table><td><b>密码</b></td>
                <td><p id="emptypsw" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 请输入密码！</p></td></table></label>
            <input type="password" id="password" placeholder="请输入密码" name="password">

            <label for="passworda"><table><td><b>确认密码</b></td>
                <td><p id="emptypswa" style="color: #f44336;font-size: 11px;padding-left: 6px" hidden="hidden"> 密码不一致！</p></td></table></label>
            <input type="password" id="passworda" placeholder="请再次输入密码" name="passworda">

            </br>
            </br>
            <button id="checkSubmit" type="submit" value="Log in" onclick="return checkPsw()" th:text="送出"></button>
        </div>

        <div class="buttomContainer" style="background-color:#f1f1f1;height:20px">
            <span class="psw">已经是会员? 我要<a th:href="@{/login}">登录</a></span>
        </div>
    </form>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');
    var username = document.getElementById('username');
    var email = document.getElementById('email');
    var name = document.getElementById('name');
    var receiver = document.getElementById('receiver');
    var address = document.getElementById('address');
    var phone = document.getElementById('phone');
    var password = document.getElementById('password');
    var passworda = document.getElementById('passworda');

    // When the user clicks anywhere outside of the modal, close it
    // window.onclick = function(event) {
    //     if (event.target == modal) {
    //         modal.style.display = "none";
    //     }
    // }

    //
    function checkPsw() {

        document.getElementById('emptyqq').hidden=true;
        document.getElementById('emptyemail').hidden=true;
        document.getElementById('emptyname').hidden=true;
        document.getElementById('emptyreceiver').hidden=true;
        document.getElementById('emptyaddress').hidden=true;
        document.getElementById('emptyphone').hidden=true;
        document.getElementById('emptypsw').hidden=true;
        document.getElementById('emptypswa').hidden=true;

        if(username.value===''){
            document.getElementById('emptyqq').hidden=false;
            return false;
        }
        else if(email.value===''){
            document.getElementById('emptyemail').hidden=false;
            return false;
        }
        else if(name.value===''){
            document.getElementById('emptyname').hidden=false;
            return false;
        }
        else if(receiver.value===''){
            document.getElementById('emptyreceiver').hidden=false;
            return false;
        }
        else if(address.value===''){
            document.getElementById('emptyaddress').hidden=false;
            return false;
        }
        else if(phone.value===''){
            document.getElementById('emptyphone').hidden=false;
            return false;
        }
        else if(password.value===''){
            document.getElementById('emptypsw').hidden=false;
            return false;
        }
        else if(passworda.value!==password.value){
            document.getElementById('emptypswa').hidden=false;
            return false;
        }
        else{
            phone.readOnly=true;
            psw.readOnly=true;
            submit.text="登入中...";

            return true;
        }
    }

    $(function () {
        //模拟城市-联动/搜索
        var select = $('#city-picker-search').cityPicker({
            dataJson: cityData,
            renderMode: true,
            search: true,
            linkage: true,
            storage: false
        });

    });
</script>


</body>
</html>
