<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>要西瓜吗</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="container">

        <div class="dropdown" style="float: right;padding-top: 60px">
            <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle"
                    th:text="${userInfo.uname}" style="background-color: #d19090; border-color: #d19090;"></button>
            <div class="dropdown-menu" style="border-color: #d1b6b1;">
                <a class="dropdown-item" th:href="@{/index}" style="font-size: 13px">要西瓜吗</a>
                <a class="dropdown-item" th:href="@{/user/myOrder}" style="font-size: 13px">我的订单</a>
                <a class="dropdown-item" th:href="@{/user/myPayment}" style="font-size: 13px">我的支付订单</a>
                <a class="dropdown-item" th:href="@{/user/modifyData}" style="font-size: 13px">修改资料</a>
                <form action="#" th:action="@{/logout}" method="post">
                    <input class="dropdown-item" type="submit" value="登出" style="font-size: 13px"/>
                </form>
            </div>
        </div>

        <div style="padding-top: 160px">
            <table class="table" style="min-width: 930px">
                <tr>
                    <th style="border-top: 2px solid #d19090;"><p>团号</p></th>
                    <th style="border-top: 2px solid #d19090;"><p>开团时间</p></th>
                    <th style="border-top: 2px solid #d19090;"><p>截团时间</p></th>
                    <th style="border-top: 2px solid #d19090;"><p>操作</p></th>
                </tr>
                <div th:each="g:${groupLst}">
                    <tr>
                        <td><p th:text="${g.id}">id</p></td>
                        <td><p th:text="${#dates.format(g.starttime, 'yyyy/MM/dd HH:mm')}">3254</p></td>
                        <td><p th:text="${#dates.format(g.endtime, 'yyyy/MM/dd HH:mm')}">46546</p></td>
                        <td>
                            <a class="btn btn-info" style="font-size: 12px;" th:href="@{user/revealProduct(groupid=${g.id})}">下单</a>
                        </td>
                    </tr>
                </div>
            </table>
        </div>


        <div align="center">
            <p th:if="!${#arrays.isEmpty(groupLst)}" style="padding: 10px; font-size: 16px; color: #888888; min-width: 930px">没有更多了</p>
        </div>

        <div align="center">
            <p th:if="${#arrays.isEmpty(groupLst)}" style="padding: 10px; font-size: 18px; color: #888888; min-width: 930px">现在没有团</p>
        </div>
    </div>
</div>



</body>
</html>