.usrTitle{
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.usrRow{
  padding: 16px;
  text-align: center;
}

.usrValue{
  width: fit-content;
  min-width: 0px;
  border: none;
  border-bottom: #d19090 dashed 1px;
  font-size: 16px;
  font-family: SimSun;
}

pre{
  font-family: SimSun;
  font-size:16px;
}

.valueTitle{
  width: max-content;
}

.basicInfo{
  border-radius: 9px;
  border: #d19090 dashed 2px;
  width: 60%;
  min-width: fit-content;
  border-collapse: separate;
  border-spacing: 0;
  padding: 30px
}